# EditorConfig configuration for GSAP WordPress Plugin
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# PHP files - WordPress Coding Standards
[*.php]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# JavaScript files - WordPress Coding Standards
[*.js]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# CSS files - WordPress Coding Standards
[*.css]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# SCSS/SASS files
[*.{scss,sass}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# JSON files
[*.json]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# XML files (phpcs.xml, etc)
[*.xml]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Markdown documentation
[*.{md,txt}]
max_line_length = off

# Configuration files
[{package.json,composer.json,.eslintrc.json}]
indent_style = space
indent_size = 2

# WordPress readme.txt
[readme.txt]
end_of_line = crlf
indent_style = space
indent_size = 4

# Makefile
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
end_of_line = lf
indent_style = tab
indent_size = 4
